[submodule "third_party/solidity"]
	path = third_party/solidity
	url = https://github.com/ethereum/solidity.git
	ignore = dirty
[submodule "third_party/pugixml"]
	path = third_party/pugixml
	url = https://github.com/zeux/pugixml.git
	ignore = dirty
[submodule "third_party/ogdf"]
	path = third_party/ogdf
	url = https://github.com/ogdf/ogdf
	ignore = dirty
[submodule "third_party/csv-parser"]
	path = third_party/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
	ignore = dirty
